# Ignorar archivos CSV y Excel genéricos (datos sensibles)
# EXCEPCIONES: Archivos de datos del TFG SÍ se suben (creación propia con DataVolley)
*.csv
# !TFG-TomaDatosSaqueVb2425-AleGravinaFabregat.xlsx  <- Este SÍ se sube

# Ignorar carpetas de datos
data/
datos/

# Archivos del sistema
.DS_Store
__pycache__/
*.pyc
*.pyo
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Entorno virtual
venv/
env/
